.sidebar{
    flex: 1.2;
    width: 15vw;
    height: 100vh;
    background-color: #041955;
    color: rgba(white, white, white, 0.87);
    padding: 20px 20px 20px 20px;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin-bottom: 10px;
}
.nav-links a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}
  
.nav-links a:hover {
color: #ffc107; /* Change the color on hover */
}

.logo{
    font-size: 30px;
}